.landing-page-container{
    color: white;
}

.spin-img{
    height: 100px;
    width: 160px;
    margin-top:100px;
    margin-bottom: 30px;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}

@-moz-keyframes spin {
    100% { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform:rotate(360deg);
    }
}

.firstPageHeader{
    font-size: 60px;
    animation: fadeIn 3s;
    -webkit-animation: fadeIn 3s;
    -moz-animation: fadeIn 3s;
    -o-animation: fadeIn 3s;
    -ms-animation: fadeIn 3s;
    text-transform: none;
}

.moto{
    margin-bottom: 100px;
    animation:
            stayHidden 5s;
    -webkit-animation:
            stayHidden 5s;
    -moz-animation:
            stayHidden 5s;
    -o-animation:
            stayHidden 5s;
    -ms-animation:
            stayHidden 5s;
    text-transform: none;
}

.buttons-animation{
    animation:
            stayHidden 5s;
    -webkit-animation:
            stayHidden 5s;
    -moz-animation:
            stayHidden 5s;
    -o-animation:
            stayHidden 5s;
    -ms-animation:
            stayHidden 5s;
}

@keyframes stayHidden {
    0% { opacity: 0; }
    50%{ opacity: 0; }
    100% { opacity: 1; }
}

@-moz-keyframes stayHidden {
    0% { opacity: 0; }
    50%{ opacity: 0; }
    100% { opacity: 1; }
}

@-webkit-keyframes stayHidden {
    0% { opacity: 0; }
    50%{ opacity: 0; }
    100% { opacity: 1; }
}

@-o-keyframes stayHidden {
    0% { opacity: 0; }
    50%{ opacity: 0; }
    100% { opacity: 1; }
}

@-ms-keyframes stayHidden {
    0% { opacity: 0; }
    50%{ opacity: 0; }
    100% { opacity: 1; }
}


@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@-moz-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@-ms-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}


